<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
<channel>
  <title>Harmony in my Head DEMO</title>
  <link>http://www.rollins-archive.com</link>
  <language>en-us</language>
  <copyright>&#x2117; &amp; &#xA9; KCRW &amp; Henry Rollins</copyright>
  <itunes:author>Henry Rollins</itunes:author>
  <itunes:image href="http://localhost/himh.jpg" />
  <itunes:category text="Good Music" />

<% @shows.each do |show| %> 
<item>
  <title><%= @show.title %></title>
  <enclosure url="<%= @show.url %>" type="audio/mpeg" />
  <guid><%= @show.url %></guid>
  <pubDate><%= @show.air_date %></pubDate>

  <description>
<![CDATA[
Track list:
<%= @show.tracklist %>
]]>
  </description>
</item>
<% end %>
</channel>
</rss>
